body {
    font-family: Verdana;
    font-size: 11px;
    width: 800px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}



.header {
    width: 100%;
    height: 28px;
    background-color: #c3ced5;
}

.content_row {
    width: 100%;
    /*height: 50px;*/
    background-color: #f0f5f8;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: #e96134;
}

.divider_small {
    width: 100%;
    height: 1px;
    background-color: #e96134;
}

.button_row {
    width: 100%;
    /*height: 50px;*/
    background-color: bisque;
}

.header_left {
    display: inline;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    line-height: 25px;
}

.ueberschrift {
    display: inline;
    font-size: 12px;
}

.headerdot {

}

.header_right {
    height: 100%;
    display: inline;
    float: right;
    margin-right: 10px;
}

.header_img {
    padding-top: 3px;
}

.column_1 {
    height: auto;
}



.content_row > .column_1 {
    display: inline-block;
    width: 20%;
    height: 100%;
}

.content_row > .column_2 {
    display: inline-block;
    width: 43%;
    height: 100%;

}

.content_row > .column_3 {
    display: inline-block;
    width: 17%;
    height: 100%;
}

.content_row > .column_4 {
    display: inline-block;
    width: 10%;
    height: 100%;
    float: right;
}


.column_1 > span {
    display: block;
    margin: 10px;
}

.column_2 > select {
    width: 100%;
    height: 23px;
    border-color: #c3ced5;
    margin: 1px;
}

.column_3 > img {

    height: 45px;
}

.column_3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.column_2 > input {
    border-color: #c3ced5;
}

.button_footer {
    display: inline;
    background-color: darkgoldenrod;
    padding-bottom: auto;
    padding-top: auto;
    width: 150px;
    vertical-align: middle;

}

img {
    display: inline;
}